<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Main Page Content -->
This is your main app page..
It should contain header, menu,


<!-- Footer -->
And then footer 

<h1>{{ title }}</h1>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <label for="title">Title</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="title" class="form-control" placeholder="Enter title" />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3">
      <label for="description">Description</label>
    </div>
    <div class="col-md-9">
      <textarea id="description" class="form-control" placeholder="Enter description"></textarea>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3">
      <label for="category">Category</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="category" class="form-control" placeholder="Enter category" />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3">
      <label for="level">Level</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="level" class="form-control" placeholder="Enter level" />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3">
      <label for="prerequisite">Prerequisites</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="prerequisite" class="form-control" placeholder="Enter prerequisites (comma-separated)" />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3">
      <label for="tags">Tags</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="tags" class="form-control" placeholder="Enter tags (comma-separated)" />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3">
      <label for="copyright">Copyright</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="copyright" class="form-control" placeholder="Enter copyright" />
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" style="border: 1px solid black;">Row 1, Column 1</div>
    <div class="col-md-6" style="border: 1px solid black;">Row 1, Column 2</div>
  </div>
  <div class="row">
    <div class="col-md-6"style="border: 1px solid black;">Row 2, Column 1</div>
    <div class="col-md-6"style="border: 1px solid black;">Row 2, Column 2</div>
  </div>
  <button [routerLink]="['/']">Go to Home</button>

  <div class="container">
    <div class="row">
      <div class="col-md-6" style="border: 1px solid black;">Row 1, Column 1</div>
      <div class="col-md-6" style="border: 1px solid black;">Row 1, Column 2</div>
    </div>
    <div class="row">
      <div class="col-md-6"style="border: 1px solid black;">Row 2, Column 1</div>
      <div class="col-md-6"style="border: 1px solid black;">Row 2, Column 2</div>
    </div>
</div>

